#cash{
    border: solid 2px;
    margin: 10rem;
    padding: 5rem;
    width: 20%;
}
#flow{
    border: solid 2px;
    margin: 10rem;
    padding: 5rem;
    width: 20%;
}
#main{
    border: solid 2px;
    margin: 10rem;
    padding: 5rem;
    width: 20%;
}
#cut{
    border: solid 2px;
    margin: 10rem;
    padding: 5rem;
    width: 20%;
}