@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Creating a website starting with the navigation bar*/
header{
    background-color: white;
    position: sticky;
    top: 0px;
    font-family: "Oswald", sans-serif;
}
nav{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 8vh;
    align-items: center;
    justify-content: space-between;
}   
.ash{
    display:flex;
    flex-grow: 1; 
    justify-content: space-around;
} 
nav li{
     list-style: none;
    padding: 0.5rem ;
    transition: background-color 0.3s ease-in-out,transform 0.3s ease-in-out;
}
#done{
    flex-grow: 2;
    display: flex;
    align-items: center;
}
nav  a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#set{
     min-height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(rgba(163, 156, 156, 0.7),rgba(194, 183, 183, 0.7)), url("images2/web123.jpg");
    background-size: cover;
    color: rgb(17, 17, 17);
    padding: 0rem 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
#big{
    font-size: 16px;
    color:white;
    background-color: blueviolet;
    padding: 12px 24px;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 4px 6px black;
    cursor: pointer;
}
@media(max-width:650px){
    nav{
        width: 100%;
        margin: auto;
    }
}